<!DOCTYPE html>
<html>
    <head>
        <title>Server Status</title>
        <link rel="shortcut icon" href="favicon.ico">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="lib/bulma.min.css">
        <!-- This site is using Eva Icons - https://github.com/akveo/eva-icons -->
        <style>
            img.icon { height: 1.7em; vertical-align: top; margin: -0.2em 0 -0.2em }
            .has-text-white img.icon, .has-background-black img.icon { filter: invert(100%); }
            .container:first-child>hr { display: none }
            .footer { padding-bottom: 3rem; box-shadow: 0 100vh 0 100vh #fafafa; }
        </style>
    </head>
    <body>
        <main class="section" id="app">
            <section class="container" style="margin-top: 2em" v-for="server in servers" :key="server.ID">
                <hr>
                <h2 class="subtitle" style="margin-bottom: 0.5em"><img class="icon" src="icons/hard-drive-outline.svg"> <strong>{{ server.Name }}</strong></h2>
                <div class="masonry" style="align-content: flex-start">
                    <article class="panel" v-for="check in server.Checks" :key="server.ID + '/' + check.ID">
                        <p class="panel-heading" style="font-weight: bold" :class="headerByStatus(check.Result.Status)">
                            <img class="icon" :src="iconByStatus(check.Result.Status)"></i>
                            {{ check.Name }}
                        </p>
                        <div class="panel-block" style="padding: 0">
                            <pre style="white-space: pre-wrap; flex-grow: 1"><code
                                ><div v-if="check.Result.Details && check.Result.Details.trim()"><small>{{ check.Result.Details.trim() }}</small></div
                                ><div v-if="check.Result.Error && check.Result.Error.trim()"><small class="has-text-danger">{{ check.Result.Error.trim() }}</small></div
                                ><small class="is-size-7 has-text-grey-light">{{ dateFormat(check.Result.LastUpdate) }}</small
                            ></code></pre>
                        </div>
                    </article>
                </div>
            </section>
        </main><br>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <img src="logo.svg" class="icon" style="margin: -0.1em -0.2em 0.1em 0"> <strong><a href="https://codeberg.org/momar/chihuahua">Chihuahua</a> &bull; the smallest watchdog on earth</strong> by <a href="https://mo-mar.de">Moritz Marquardt</a>
                </p>
            </div>
        </footer>

        <script src="lib/vue.min.js"></script>
        <script src="lib/macy.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
